.main {
    background-image: url('/BG-Season4.png');
    width:1920px;
    height:1080px;
    /*overflow: hidden;*/
}

.screen {
    position: relative;
    top: 40px;
}

.team {
    height: 170px;
    margin-bottom: 15px;
}

.team_icon {
    position: relative;
    background-color: var(--bg-colour);
    width:225px;
    height:170px;
    display: grid;
    place-items: center;
}

.team_icon img {
    height: 125px;
}

.members {
    background-color: rgba(0, 0, 0, .75);
    width: 710px;
    height: 170px;

    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.members_left {
    position: relative;
    
    top: -170px;
    left: 235px;

}

.member {
    position: relative;
    width: 150px;
    height: 150px;

    background-color: var(--bg-colour);
    background-image: var(--profile);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

.nameplate {
    position: relative;
    background-color: rgba(0, 0, 0, .75);
    width: 150px;
    height:20px;
    line-height: 22px;
    top: 130px;

    font-family: Metropolis BL;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.right {
    position: relative;
    top: -988px;
    left: 970px;
}

.team_icon_right {
    position: relative;
    top: -170px;
    left: 725px;
}

.members_right {
    position: relative;
    top: 0px;
}

.event_name {
    position: relative;
    background-color: rgba(0, 0, 0, .75);
    width: 945px;

    font-family: Metropolis BL;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
}

.event_tagline {
    color: rgb(243,206,0);
}

.remark {
    position: relative;
    background-color: rgba(0, 0, 0, .75);
    left: 400px;
    width: 550px;

    font-family: Metropolis BL;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
}

.remark_sub { color: rgb(141,198,63)}
.remark_new { color: rgb(243,206,0)}