@import "tailwindcss";
@font-face { font-family: "Metropolis"; src: url("/fonts/Metropolis-Regular.otf");}
@font-face { font-family: "Metropolis Bold"; src: url("/fonts/Metropolis-Bold.otf");}
@font-face { font-family: "Metropolis BL"; src: url("/fonts/Metropolis-Black.otf");}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  opacity: 0%
}

.overlay {
  position: relative;
  top: 51px;
  left: 51px;
}

.header {
  display: flex;
}

.ls-icon {
  background-color: var(--bg-colour);
  width: 100px;
  height: 50px;
  margin-right: 5px;
}

.ls-icon img {
  width: 75px;
  translate: 0px -12.5px;
  margin-left: auto;
  margin-right: auto;
}

.event-status {
  background-color: rgba(0, 0, 0, .75);
  width: 295px;
  height: 50px;
  color: white;
  font-family: Metropolis BL;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.event-status-final {
  background-color: rgba(0, 0, 0, .75);
  width: 295px;
  height: 50px;
  color: rgba(255,255,0);
  font-family: Metropolis BL;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.game {
  background-color: rgba(0, 0, 0, .75);
  top: 5px;
  width: 400px;
  height: 160px;
  position: relative;
}

.game img {
  translate: 0px -25px;
}

/** PLACEMENTS **/
.label {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 290px;
  left: 55px;
  top: -40px;

  color: white;
  font-family: Metropolis Bold;
  font-size: 24px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, .75);
  line-height: 50px;
}

.label img {
  height: 32px;
  padding-left: 5px;
  padding-right: 5px;
}

.first-place {
  top: 5px;
  height: 50px;
  margin-bottom: 5px;
}

.first-icon {
  position: relative;
  top: 10px;
  background-color: rgba(167, 141, 0);
  width: 50px;
  height: 50px;
  color: white;
  font-family: Metropolis BL;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.finale-points {
  position: relative;
  background-color: rgba(0, 0, 0, .75);
  width: 50px;
  height: 50px;
  top: -90px;
  left: 350px;
  color: white;
  font-family: Metropolis BL;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.finale-points img {
  width: 40px;
  height: 40px;
  translate: 0px 5px;
  margin-left: auto;
  margin-right: auto;
}

.finale-points-won {
  position: relative;
  background-color: rgba(0, 0, 0, .75);
  width: 50px;
  height: 50px;
  top: -90px;
  left: 350px;
  color: rgba(255,255,0);
  font-family: Metropolis BL;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.second-place {
  position: relative;
}

.second-icon {
  position: relative;
  top: 10px;
  background-color: rgba(165, 165, 165);
  width: 50px;
  height: 50px;
  color: white;
  font-family: Metropolis BL;
  font-size: 35px;
  text-align: center;
  line-height: 50px;
}

/** Animations **/
.status {
    transition: transform 1s ease;
}

.placements {
    transition: transform 1s ease;
}

.slide-in { 
  transform: translateX(0);
} 
.slide-out { 
  transform: translateX(-50%);
}