.main {
    margin-top: 50px;
    overflow: hidden;
}

.header {
    display: flex;
}

.icon {
    width: 100px;
    height: 60px;
    background-color: var(--bg-colour);
}

.icon img {
    width: 75px;
    translate: 0px -8px;
    margin-left: auto;
    margin-right: auto;
}

.right_icon {
    margin-left: 10px; 
    margin-right: 0;
}

.right_text {
    margin-left: auto; 
    margin-right: 0; 

    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: rgba(0, 0, 0, .75);
    
    color: white;
    font-family: Metropolis;
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
}

.right_logo {
    margin-left: auto; 
    margin-right: 0; 

    width: 400px;
    height: 60px;

    background-color: rgba(0, 0, 0, .75);
}

.right_logo img {
    translate: 0px -82.5px;
}

.header_text {
    display: inline-block;
    height: 60px;

    margin-left: 10px;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: rgba(0, 0, 0, .75);
    
    color: white;
    font-family: Metropolis BL;
    font-size: 40px;
    line-height: 60px;
    text-transform: uppercase;

    overflow: hidden;
    
}

.subtitle {
    font-family: Metropolis;
}

.event_tagline {
    color: rgb(243,206,0);
}

.body {
    margin-top: 10px;
    margin-left: 110px;
    background-color: rgba(0, 0, 0, .75);
    width: 1700px;
    height: 850px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.content_cards {
    transform: scale(var(--scale));
}

.footer {
    margin-top: 10px;
    display: flex;
}

.measure {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    white-space: nowrap;
}
